<?xml version="1.0"?>
<launch>
                                                                                 <!-- x y z  Y  P R -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="frame1_to_frame2" args="2 1 0 0.5 0 0 frame1 frame2" />

                                                                                 <!-- x y z  Y  P R -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="frame2_to_frame3" args="2 1 1 0.5 0 0 frame2 frame3" />

</launch>
